/* Styling af tekst */
h1, h2{
    text-align: center;
}


/*Styling af div indeholdende alt content */
.event {
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}

div{
    padding-top: 5%;
}

/* Styling af billeder */




/* Media querries tilpasset til mobilskærm */
@media only screen and (max-width: 600px) {
    
    h1{
        font-size: 170%;
    }
    
    h2{
        font-size: 120%;
    }
}
